.hamburger-toggler {
    position: fixed;
    top: calc(((85vw * (264 / 1500)) - 36px) / 2);
    /* Firefox */
    top: -moz-calc(((85vw * (264 / 1500)) - 36px) / 2);
    /* WebKit */
    top: -webkit-calc(((85vw * (264 / 1500)) - 36px) / 2);
    /* Opera */
    top: -o-calc(((85vw * (264 / 1500)) - 36px) / 2);
    right: calc((15vw - 36px) / 2);
    /* Firefox */
    right: -moz-calc((15vw - 36px) / 2);
    /* WebKit */
    right: -webkit-calc((15vw - 36px) / 2);
    /* Opera */
    right: -o-calc((15vw - 36px) / 2);
    color: white;
    z-index: 999;
    height: 36px;
    width: 36px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    border: none;
    background: none;
    padding: 0px;
    text-align: unset;
}

/* Simple mobile extra classes */
@media(max-width:768px){
    .small--no-padding {
        padding: 0px;
    }
    .small--no-rounding {
        border-radius: 0px;
    }
    .small--no-bottom-margin {
        margin-bottom: 0px;
    }
    .small--no-margin {
        margin: 0px;
    }
    .small--display-block {
        display: block
    }
    .small--hidden {
        display: none;
    }
}


@media(min-width:992px){
    .from-medium--default-rounding {
        border-radius: 10px;
    }
}

@media(max-width:991px){
    .medium--white-background {
        background-color: #FFFFFF;
    }

    .medium--black-text {
        color: #000000;
    }
}

.remove-rounding {
    border-radius: 0px !important; /* a workaround for css precedence*/
}

.remove-padding {
    padding: 0px !important; /* a workaround for css precedence*/
}

.remove-margin {
    margin: 0px !important; /* a workaround for css precedence*/
}

.remove-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.rotate--half {
    transform: rotate(180deg)
}


/* Responsive navigation menu classes */


.header-menu-fix {
    width: 100%
}

@media(max-width:768px){
    .sticky-banner {
        position: fixed;
        box-shadow: rgba(0,0,0,.50) 0 3px 11px 0;
        z-index: 1000;
    }

    .header-menu-fix {
        width: 85%
    }

    #content {
        margin-top: -moz-calc((85vw * (264 / 1500)) - 50px); /* 50px as per min-height declared in default nav*/
        margin-top: -webkit-calc((85vw * (264 / 1500)) - 50px);
        margin-top: -o-calc((85vw * (264 / 1500)) - 50px);
        margin-top: calc((85vw * (264 / 1500)) - 50px);

    }

    #menu-menu-1 {
        margin: 0 8px;
        font-size: 1.4em;
    }

    #menu-menu-1 > li > a {
        font-weight: bold;
    }

    #navigationMenu {
        position: fixed;
        left: -100%;
        z-index: 998;
        text-decoration: none;
        overflow: scroll;
        height: 100%;
        color:  white;/*#005c9c;*/
        background: #57007F;
        min-width: max(360px, 80vw);
        min-height: calc(100vh - (85vw * (264 / 1500)));
        /* Firefox */
        min-height: -moz-calc(100vh - (85vw * (264 / 1500)));
        /* WebKit */
        min-height: -webkit-calc(100vh - (85vw * (264 / 1500)));
        /* Opera */
        min-height: -o-calc(100vh - (85vw * (264 / 1500)));    
        top: calc(85vw * (264 / 1500)); 
        /* Firefox */
        top: -moz-calc(85vw * (264 / 1500));
        /* WebKit */
        top: -webkit-calc(85vw * (264 / 1500));
        /* Opera */
        top: -o-calc(85vw * (264 / 1500));
    }
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
        background: #3188E7 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }


    /* overrides built-in  .sum*/
    

    .navigation__menu {
        padding:24px 16px 8px 16px; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }
}

@media(min-width:769px) {
    .margin-top-content-fix {
        margin-top: 8px;
    }

    .dropdown--responsive {
        min-width: 160px;
        position: absolute;
        z-index: 1000;
        font-weight: 400;
        line-height: 1.42857143;
        padding: 0;
    }

    li:hover > .dropdown--responsive {
        display: block;
    }

    .dropdown__item--responsive {
        padding-right: 5px;
        padding-left: 5px;
        background-color: #57007F;
        border-bottom: 1px solid white;
    }

    /* 10px as per original intention */
    .dropdown__item--responsive:first-child {
        border-radius: 10px 10px 0 0;
    }

    .dropdown__item--responsive:last-child {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
    }


}

.hamburger-toggler span,
.hamburger-toggler span::before,
.hamburger-toggler span::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 4.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.hamburger-toggler span::before {
    top: -12px;
}
.hamburger-toggler span::after {
    top: 12px;
}
.hamburger-toggler.active > span {
    background: transparent;
}
.hamburger-toggler.active > span::before, .hamburger-toggler.active > span::after {
    background: white;
    top: 0px;
}
.hamburger-toggler.active > span::before {
    transform: rotate(-225deg);
}
.hamburger-toggler.active > span::after {
    transform: rotate(225deg);
}

.lock-scroll {
    overflow: hidden;
}

@keyframes navigationUnfoldShadowAnimation {
    0% {
        box-shadow: -25vw 0px 300px 0px rgba(0,0,0,0.5);
    }

    100% {
        box-shadow: 60vw 0px 20px 15px rgba(0,0,0,0.5);
    }
}

@keyframes navigationFoldsShadowAnimation {
    0% {
        box-shadow: -25vw 0px 300px 0px rgba(0,0,0,0.5);
    }

    100% {
        box-shadow: 30vw 0px 20px 15px rgba(0,0,0,0.5);
    }
}

.navigation-unfolds {
    animation-name: navigationUnfoldShadowAnimation;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.navigation-folds {
    animation-name: navigationFoldsShadowAnimation;
    animation-duration: 300ms; /* 150ms */
   /*animation-delay: 100ms;  50ms */
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: linear;
}

.button--highlight {
    background-color: #57007F; 
}

#floatingChatButton {
  cursor: pointer;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  z-index: 997; /* Just below menu */ 
  position: fixed;
  bottom: 24px;
  right: 24px;
  -webkit-box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.75);
}

.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New sticky footer features*/
@media(max-width:768px){
    div#playbtn.jp-play.play-button--transparent {
        background: url(https://dragonfm.nl/wp-content/themes/Radio2/player/skin/icon-browsePlayBig.png) center center no-repeat;
    }
    div#stopbtn.jp-pause.pause-button--transparent {
        background: url(https://dragonfm.nl/wp-content/themes/Radio2/player/skin/icon-browseStop.png) center center no-repeat;
    }
    footer.footer-player-dock {
        margin-top: calc(8px + 8px + 1.4em + 1.4em);
        /* Firefox */
        margin-top: -moz-calc(8px + 8px + 1.4em + 1.4em);
        /* WebKit */
        margin-top: -webkit-calc(8px + 8px + 1.4em + 1.4em);
        /* Opera */
        margin-top: -o-calc(8px + 8px + 1.4em + 1.4em);
    }
    .widget_default_blok_1--hide-mobile {
        height: 0px;
        max-height: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        background: none !important;
    }
    .player-widget__button {
        position: fixed;
        bottom: calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px); /* pre-calc 50 based on playbutton height*/
        /* Firefox */
        bottom: -moz-calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px);
        /* WebKit */
        bottom: -webkit-calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px);
        /* Opera */
        bottom: -o-calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px);
        z-index: 951;
        left: -15px;
    }
}

.player-widget__display {
    white-space: nowrap;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    font-weight: 400 !important;
}
  
.player-widget__display > * {
    display: inline-block;
    position: relative;
}

/* uuh  somehow layout that the bars are oriented full from right to left*/

.player-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 950;
    min-height: 75px;/*from play button*/
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 75px;/*from play button*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(87,0,127);
    /*background: linear-gradient(0deg, rgba(87,0,127,1) 0%, rgba(35,0,51,1) 11%, rgba(35,0,51,1) 89%, rgba(87,0,127,1) 100%);*/
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 -6px 11px 0;
    -moz-box-shadow: rgb(0 0 0 / 50%) 0 -6px 11px 0;
    box-shadow: rgb(0 0 0 / 50%) 0 -6px 11px 0;
}

.player-footer--docked {
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 -10px 11px 0;
    -moz-box-shadow: rgb(0 0 0 / 50%) 0 -10px 11px 0;
    box-shadow: rgb(0 0 0 / 50%) 0 -10px 11px 0;
}

.player-footer__display {
    overflow: hidden;
    white-space: nowrap;
    background: none;
    width: 100%;
}

.player-footer__display > * {
    display: inline-block;
    position: relative;
    font-size: 1.4em;
    font-weight: normal;
    font-family: verdana;
    font-style: italic;
    color: white;
}

@media(min-width:769px){
    .from-medium--hidden {
        display: none;
    }
}

article.type-page {
    border: none;
}

article.type-post {
    border: none !important;
}
