:root {
    --main-color: #57007F;
    --text-color: #333;
    --kc-text-color: black;
    --social-symbols-color: white;
    --fab-symbol-color: var(--social-symbols-color);
    --banner-background: var(--main-color);
    --footer-color: var(--main-color);
    --mobile-menu-color: var(--main-color);
    --dropdown-color: var(--main-color);
    --song-info-ff: "franklin gothic", "Helvetica Bold", sans-serif;
    --song-info-font-size: 1.4em;
    --song-info-text-color: #ffffff;
    --song-info-font-style: italic;
    --banner-original-height: 264px;
    --banner-original-width: 1500px;
    --banner-original-height-number: 264;
    --banner-original-width-number: 1500;
    --banner-ratio: calc(var(--banner-original-height-number) / var(--banner-original-width-number));
    --banner-ratio: -moz-calc(var(--banner-original-height-number) / var(--banner-original-width-number));
    --banner-ratio: -o-calc(var(--banner-original-height-number) / var(--banner-original-width-number));
    --banner-ratio: -webkit-calc(var(--banner-original-height-number) / var(--banner-original-width-number));
    --left-banner-items: 1;
    --right-banner-items: 1;
    --mobile-banner-width: 85vw;
    --mobile-banner-height: calc(var(--mobile-banner-width) * var(--banner-ratio));
    --mobile-banner-height: -moz-calc(var(--mobile-banner-width) * var(--banner-ratio));
    --mobile-banner-height: -o-calc(var(--mobile-banner-width) * var(--banner-ratio));
    --mobile-banner-height: -webkit-calc(var(--mobile-banner-width) * var(--banner-ratio));
    --toggler-size: 36px;

    /* preset values are the exact same as values already present (from admin stylesheets) and
    will be automatically set by the javascript */
    --preset-container-width: default;
    --preset-navbar-min-height: default;
}

.hamburger-toggler {
    position: fixed;
    top: calc((var(--mobile-banner-height) - var(--toggler-size)) / 2);
    top: -moz-calc((var(--mobile-banner-height) - var(--toggler-size)) / 2);
    top: -o-calc((var(--mobile-banner-height) - var(--toggler-size)) / 2);
    top: -webkit-calc((var(--mobile-banner-height) - var(--toggler-size)) / 2);
    right: calc(((100vw - var(--mobile-banner-width)) - var(--toggler-size)) / 2);
    right: -moz-calc(((100vw - var(--mobile-banner-width)) - var(--toggler-size)) / 2);
    right: -o-calc(((100vw - var(--mobile-banner-width)) - var(--toggler-size)) / 2);
    right: -webkit-calc(((100vw - var(--mobile-banner-width)) - var(--toggler-size)) / 2);
    color: white;
    z-index: 999;
    height: var(--toggler-size);
    width: var(--toggler-size);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    border: none;
    background: none;
    padding: 0px;
    text-align: unset;
}

.hamburger-toggler span,
.hamburger-toggler span::before,
.hamburger-toggler span::after {
    position: absolute;
    content: "";
    width: var(--toggler-size);
    height: 4.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.hamburger-toggler span::before {
    top: -12px;
}
.hamburger-toggler span::after {
    top: 12px;
}
.hamburger-toggler.active > span {
    background: transparent;
}
.hamburger-toggler.active > span::before, .hamburger-toggler.active > span::after {
    background: white;
    top: 0px;
}
.hamburger-toggler.active > span::before {
    transform: rotate(-225deg);
}
.hamburger-toggler.active > span::after {
    transform: rotate(225deg);
}

/* Simple mobile extra classes */
@media(max-width:768px){
    .small--no-padding {
        padding: 0px;
    }
    .small--no-rounding {
        border-radius: 0px;
    }
    .small--no-bottom-margin {
        margin-bottom: 0px;
    }
    .small--no-margin {
        margin: 0px;
    }
    .small--display-block {
        display: block
    }
    .small--hidden {
        display: none;
    }
}

.chat-button-fix {
    background-size: cover;
    /* width can be inserted here */
}

/* styles time display */ 
.PMT_KLOK_widget > :first-child {
    font-size: 2em !important;
}

@media(min-width: 992px){
    .from-medium--default-rounding {
        border-radius: 10px;
    }
}

@media(max-width: 991px){
    .medium--white-background {
        background-color: #FFFFFF;
    }

    .medium--black-text {
        color: #000000;
    }
}

.remove-rounding {
    border-radius: 0px !important; /* a workaround for css precedence*/
}

.remove-padding {
    padding: 0px !important; /* a workaround for css precedence*/
}

.remove-margin {
    margin: 0px !important; /* a workaround for css precedence*/
}

.remove-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.rotate--half {
    transform: rotate(180deg)
}


/* Responsive navigation menu classes */


.header-menu-fix {
    width: 100%
}

@media(max-width: 768px){
    .sticky-banner {
        position: fixed;
        box-shadow: rgba(0,0,0,.50) 0 3px 11px 0;
        z-index: 1000;
    }

    .header-menu-fix {
        width: 85%;
    }

    #content {
        margin-top: -moz-calc(var(--mobile-banner-height) - var(--preset-navbar-min-height)); 
        margin-top: -webkit-calc(var(--mobile-banner-height) - var(--preset-navbar-min-height));
        margin-top: -o-calc(var(--mobile-banner-height) - var(--preset-navbar-min-height));
        margin-top: calc(var(--mobile-banner-height) - var(--preset-navbar-min-height));
    }

    #menu-menu-1 {
        margin: 0 8px;
        font-size: 1.4em;
    }

    #menu-menu-1 > li > a {
        font-weight: bold;
    }

    #navigationMenu {
        position: fixed;
        left: -100%;
        z-index: 998;
        text-decoration: none;
        overflow: scroll;
        height: 100%;
        color:  white;
        background-color: var(--mobile-menu-color);
        min-width: max(360px, 80vw);
        max-width: max(360px, 80vw);
        min-height: calc(100vh - var(--mobile-banner-height));
        min-height: -moz-calc(100vh - var(--mobile-banner-height));
        min-height: -webkit-calc(100vh - var(--mobile-banner-height));
        min-height: -o-calc(100vh - var(--mobile-banner-height));    
        top: var(--mobile-banner-height);
    }
    
    .navbar-default .navbar-nav>.active>a.pop, .navbar-default .navbar-nav>.open>a.pop {
        background: #3188E7 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 10px;
    }


    /* overrides built-in  .sum*/
    

    .navigation__menu {
        padding:24px 16px 8px 16px; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }

    .dropdown--responsive {
        width: 75vw;
    }
}

#override-banner {
    background: var(--banner-background)
}

.mobile-menu__fold {
    display: inline-block; 
    margin-top: 8px; 
    float: right; 
    transition: transform .3s ease-out;
}



@media(min-width:769px) {
    .margin-top-content-fix {
        margin-top: 8px;
    }

    .PMT_KLOK_widget > :first-child {
        color: white !important;
        /* text color can be inserted here */
    }

    .dropdown--responsive {
        min-width: 160px;
        position: absolute;
        z-index: 1000;
        font-weight: 400;
        line-height: 1.42857143;
        padding: 0;
    }

    li:hover > .dropdown--responsive {
        display: block;
    }

    .dropdown__item--responsive {
        padding-right: 5px;
        padding-left: 5px;
        border-bottom: 1px solid white;
        background-color: var(--dropdown-color);
    }

    /* 10px as per original intention */
    .dropdown__item--responsive:first-child {
        border-radius: 10px 10px 0 0;
    }

    .dropdown__item--responsive:last-child {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
    }
    
    #sidebar-left {
        position: -webkit-sticky;
        position: sticky;
        top: 16px;
        /*calc((100vh - 500px)/2)*/
    }
}

.lock-scroll {
    overflow: hidden;
}

@keyframes navigationUnfoldShadowAnimation {
    0% {
        box-shadow: -25vw 0px 300px 0px rgba(0,0,0,0.5);
    }

    100% {
        box-shadow: 60vw 0px 20px 15px rgba(0,0,0,0.5);
    }
}

@keyframes navigationFoldsShadowAnimation {
    0% {
        box-shadow: -25vw 0px 300px 0px rgba(0,0,0,0.5);
    }

    100% {
        box-shadow: 30vw 0px 20px 15px rgba(0,0,0,0.5);
    }
}

.navigation-unfolds {
    animation-name: navigationUnfoldShadowAnimation;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.navigation-folds {
    animation-name: navigationFoldsShadowAnimation;
    animation-duration: 300ms; /* 150ms */
   /*animation-delay: 100ms;  50ms */
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: linear;
}

.button--highlight {
    background-color: var(--main-color);
}

#floatingChatButton {
  cursor: pointer;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  z-index: 997; /* Just below menu */ 
  position: fixed;
  bottom: 24px;
  right: 24px;
  -webkit-box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 25px -3px rgba(0,0,0,0.75);
}

#floatingChatButton > svg {
    fill: var(--fab-symbol-color);
}

#songDisplayTop {
    font-family: var(--song-info-ff);
    font-size: var(--song-info-font-size);
    color: var(--song-info-text-color) !important;
    font-style: var(--song-info-font-style);
}

.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-overflow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

/* New sticky footer features*/
@media(max-width:768px){
    div#playbtn.jp-play.play-button--transparent {
        background: url(https://dragonfm.nl/wp-content/themes/Radio2/player/skin/icon-browsePlayBig.png) center center no-repeat;
    }
    div#stopbtn.jp-pause.pause-button--transparent {
        background: url(https://dragonfm.nl/wp-content/themes/Radio2/player/skin/icon-browseStop.png) center center no-repeat;
    }
    footer.footer-player-dock {
        margin-top: calc(8px + 8px + 1.4em + 1.4em);
        /* Firefox */
        margin-top: -moz-calc(8px + 8px + 1.4em + 1.4em);
        /* WebKit */
        margin-top: -webkit-calc(8px + 8px + 1.4em + 1.4em);
        /* Opera */
        margin-top: -o-calc(8px + 8px + 1.4em + 1.4em);
    }
    .widget_default_blok_1--hide-mobile {
        height: 0px;
        max-height: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        background: none !important;
    }
    .player-widget__button {
        position: fixed;
        bottom: calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px); /* pre-calc 50 based on playbutton height*/
        /* Firefox */
        bottom: -moz-calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px);
        /* WebKit */
        bottom: -webkit-calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px);
        /* Opera */
        bottom: -o-calc(((8px + 8px + 1.8em + 1.8em) / 2) - 50px);
        z-index: 951;
        left: -15px;
    }
}

.player-widget__display {
    white-space: nowrap;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    font-weight: 400 !important;
}
  
.player-widget__display > * {
    display: inline-block;
    position: relative;
}

/* uuh  somehow layout that the bars are oriented full from right to left*/

.player-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 950;
    min-height: 75px;/*from play button*/
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 75px;/*from play button*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    /*background: linear-gradient(0deg, rgba(87,0,127,1) 0%, rgba(35,0,51,1) 11%, rgba(35,0,51,1) 89%, rgba(87,0,127,1) 100%);*/
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 -6px 11px 0;
    -moz-box-shadow: rgb(0 0 0 / 50%) 0 -6px 11px 0;
    box-shadow: rgb(0 0 0 / 50%) 0 -6px 11px 0;
}

.player-footer--docked {
    -webkit-box-shadow: rgb(0 0 0 / 50%) 0 -10px 11px 0;
    -moz-box-shadow: rgb(0 0 0 / 50%) 0 -10px 11px 0;
    box-shadow: rgb(0 0 0 / 50%) 0 -10px 11px 0;
}

.player-footer__display {
    overflow: hidden;
    white-space: nowrap;
    background: none;
    width: 100%;
}

.player-footer__display > * {
    display: inline-block;
    position: relative;
    font-size: 1.4em;
    font-weight: normal;
    font-family: verdana;
    font-style: italic;
    color: white;
}

@media(min-width:769px){
    .from-medium--hidden {
        display: none;
    }
}

#main > article {
    border: none !important;    
}

#main .kc_text_block > p {
    color: var(--kc-text-color);
}

article.type-page {
    border: none;
}

article.type-post {
    border: none !important;
}

.input-container {
    margin-bottom: 15px;
}

.social-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
}

.social-bar__symbol {
    display: block;
    fill: currentColor;
    width: inherit;
    height: inherit;
}

.banner-side{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.banner-half{
    height: calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2);
    height: -moz-calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2);
    height: -webkit-calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2);
    height: -o-calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2);
    top: calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2); 
    top: -moz-calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2); 
    top: -webkit-calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2); 
    top: -o-calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / 2); 
}

.banner-stripe--left{
    width: calc((100vw - var(--preset-container-width)) / 2);
    width: -moz-calc((100vw - var(--preset-container-width)) / 2);
    width: -webkit-calc((100vw - var(--preset-container-width)) / 2);
    width: -o-calc((100vw - var(--preset-container-width)) / 2);
    height: calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / var(--left-banner-items));
    /*height: -webkit-fill-available;*/
}
.banner-stripe--right{
    width: calc((100vw - var(--preset-container-width)) / 2);
    width: -moz-calc((100vw - var(--preset-container-width)) / 2);
    width: -webkit-calc((100vw - var(--preset-container-width)) / 2);
    width: -o-calc((100vw - var(--preset-container-width)) / 2);
    height: calc((var(--banner-original-height) * (var(--preset-container-width) / var(--banner-original-width))) / var(--right-banner-items));
    /*height: -webkit-fill-available;*/
}
