/* Simple mobile extra classes */
@media(max-width:768px){
    .small--no-padding {
        padding: 0px;
    }
    .small--no-rounding {
        border-radius: 0px;
    }
    .small--no-bottom-margin {
        margin-bottom: 0px;
    }
}
@media(min-width:992px){
    .from-medium--default-rounding {
        border-radius: 10px;
    }
}

.remove-rounding {
    border-radius: 0px;
}

.remove-padding {
    padding: 0px;
}

.remove-margin {
    margin: 0px
}

.remove-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}
