.hamburger-toggler {
    position: fixed;
    top: calc(((85vw * (264 / 1500)) - 36px) / 2);
    /* Firefox */
    top: -moz-calc(((85vw * (264 / 1500)) - 36px) / 2);
    /* WebKit */
    top: -webkit-calc(((85vw * (264 / 1500)) - 36px) / 2);
    /* Opera */
    top: -o-calc(((85vw * (264 / 1500)) - 36px) / 2);
    right: calc((15vw - 36px) / 2);
    /* Firefox */
    right: -moz-calc((15vw - 36px) / 2);
    /* WebKit */
    right: -webkit-calc((15vw - 36px) / 2);
    /* Opera */
    right: -o-calc((15vw - 36px) / 2);
    color: white;
    z-index: 999;
    height: 36px;
    width: 36px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    border: none;
    background: none;
    padding: 0px;
    text-align: unset;
}

/* Simple mobile extra classes */
@media(max-width:768px){
    .small--no-padding {
        padding: 0px;
    }
    .small--no-rounding {
        border-radius: 0px;
    }
    .small--no-bottom-margin {
        margin-bottom: 0px;
    }
    .small--no-margin {
        margin: 0px;
    }
    .small--display-block {
        display: block
    }
}
@media(min-width:769px){
    .from-medium--hidden {
        display: none;
    }
}

@media(min-width:992px){
    .from-medium--default-rounding {
        border-radius: 10px;
    }
}

@media(max-width:991px){
    .medium--white-background {
        background-color: #FFFFFF;
    }

    .medium--black-text {
        color: #000000;
    }
}

.remove-rounding {
    border-radius: 0px;
}

.remove-padding {
    padding: 0px;
}

.remove-margin {
    margin: 0px
}

.remove-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.rotate--half {
    transform: rotate(180deg)
}


/* Responsive navigation menu classes */


.header-menu-fix {
    width: 100%
}

@media(max-width:768px){
    .sticky-banner {
        position: fixed;
        box-shadow: rgba(0,0,0,.50) 0 3px 11px 0;
        z-index: 1000;
    }

    .header-menu-fix {
        width: 85%
    }

    #content {
        margin-top: -moz-calc((85vw * (264 / 1500)) - 50px); /* 50px as per min-height declared in default nav*/
        margin-top: -webkit-calc((85vw * (264 / 1500)) - 50px);
        margin-top: -o-calc((85vw * (264 / 1500)) - 50px);
        margin-top: calc((85vw * (264 / 1500)) - 50px);

    }

    #menu-menu-1 {
        margin: 0 8px;
        font-size: 1.4em;
    }

    #menu-menu-1 > li > a {
        font-weight: bold;
    }

    #navigationMenu {
        position: fixed;
        left: -100%;
        z-index: 998;
        text-decoration: none;
        overflow: scroll;
        height: 100%;
        color:  white;/*#005c9c;*/
        background: #57007F;
        min-width: max(360px, 80vw);
        min-height: calc(100vh - (85vw * (264 / 1500)));
        /* Firefox */
        min-height: -moz-calc(100vh - (85vw * (264 / 1500)));
        /* WebKit */
        min-height: -webkit-calc(100vh - (85vw * (264 / 1500)));
        /* Opera */
        min-height: -o-calc(100vh - (85vw * (264 / 1500)));    
        top: calc(85vw * (264 / 1500)); 
        /* Firefox */
        top: -moz-calc(85vw * (264 / 1500));
        /* WebKit */
        top: -webkit-calc(85vw * (264 / 1500));
        /* Opera */
        top: -o-calc(85vw * (264 / 1500));
    }
    
    /* overrides built-in  .sum*/
    

    .navigation__menu {
        padding:24px 16px 8px 16px; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }
}

@media(min-width:769px) {
    .margin-top-content-fix {
        margin-top: 8px;
    }

    .dropdown--responsive {
        min-width: 160px;
        position: absolute;
        z-index: 1000;
        font-weight: 400;
        line-height: 1.42857143;
        padding: 0;
    }

    li:hover > .dropdown--responsive {
        display: block;
    }

    .dropdow__item--responsive {
        padding-right: 5px;
        padding-left: 5px;
        background-color: #57007F;
        border-bottom: 1px solid white;
    }

    /* 10px as per original intention */
    .dropdow__item--responsive:first-child {
        border-radius: 10px 10px 0 0;
    }

    .dropdow__item--responsive:last-child {
        border-bottom: none;
        border-radius: 0 0 10px 10px;
    }
    
    
}

.hamburger-toggler span,
.hamburger-toggler span::before,
.hamburger-toggler span::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 4.5px;
    background: #fafafa;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}
.hamburger-toggler span::before {
    top: -12px;
}
.hamburger-toggler span::after {
    top: 12px;
}
.hamburger-toggler.active > span {
    background: transparent;
}
.hamburger-toggler.active > span::before, .hamburger-toggler.active > span::after {
    background: white;
    top: 0px;
}
.hamburger-toggler.active > span::before {
    transform: rotate(-225deg);
}
.hamburger-toggler.active > span::after {
    transform: rotate(225deg);
}

.lock-scroll {
    overflow: hidden;
}

@keyframes navigationUnfoldShadowAnimation {
    0% {
        box-shadow: -25vw 0px 300px 0px rgba(0,0,0,0.5);
    }

    100% {
        box-shadow: 60vw 0px 20px 15px rgba(0,0,0,0.5);
    }
}

@keyframes navigationFoldsShadowAnimation {
    0% {
        box-shadow: -25vw 0px 300px 0px rgba(0,0,0,0.5);
    }

    100% {
        box-shadow: 30vw 0px 20px 15px rgba(0,0,0,0.5);
    }
}

.navigation-unfolds {
    animation-name: navigationUnfoldShadowAnimation;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.navigation-folds {
    animation-name: navigationFoldsShadowAnimation;
    animation-duration: 300ms; /* 150ms */
   /*animation-delay: 100ms;  50ms */
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: linear;
}
